#nolint:quadlet:invalid-value.bad-format

#nolint:quadlet:deprecated-key
[Container]
Rootfs=test
#nolint:quadlet
Image=ambiguous
Network=:net::,
Pod=test
Group=group
RemapUid=123
#nolint:quadlet:invalid-value
RemapUsers=map

#nolint:quadlet
[Service]
#nolint:quadlet:invalid-value
KillMode=test
Type=test
